<!-- Navigation Bloc -->
<div class="col-lg-12">

  <div class="row mt-5">

    <div class="col-1"></div>
    <div class="col-1 text-center">
      <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0" style="width: 100px; height: 60px">
        <a href="#">
          <div class="card-img-bg" style="background-image: url('https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
          <span class="mask bg-gradient-secondary opacity-3 hover-opacity-0"></span>
        </a>
      </div>
      <h6>Adventure</h6>
    </div>
    <div class="col-1 text-center">
      <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0" style="width: 100px; height: 60px">
        <a href="#">
          <div class="card-img-bg" style="background-image: url('https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
          <span class="mask bg-gradient-secondary opacity-3 hover-opacity-0"></span>
        </a>
      </div>
      <h6>Sport</h6>
    </div>
    <div class="col-1 text-center">
      <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0" style="width: 100px; height: 60px">
        <a href="#">
          <div class="card-img-bg" style="background-image: url('https://images.pexels.com/photos/1053687/pexels-photo-1053687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
          <span class="mask bg-gradient-secondary opacity-3 hover-opacity-0"></span>
        </a>
      </div>
      <h6>Art</h6>
    </div>
    <div class="col-1 text-center">
      <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0" style="width: 100px; height: 60px">
        <a href="#">
          <div class="card-img-bg" style="background-image: url('https://images.pexels.com/photos/802221/pexels-photo-802221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
          <span class="mask bg-gradient-secondary opacity-3 hover-opacity-0"></span>
        </a>
      </div>
      <h6>Green</h6>
    </div>
    <div class="col-1 text-center">
      <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0" style="width: 100px; height: 60px">
        <a href="#">
          <div class="card-img-bg" style="background-image: url('https://images.pexels.com/photos/933624/pexels-photo-933624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
          <span class="mask bg-gradient-secondary opacity-3 hover-opacity-0"></span>
        </a>
      </div>
      <h6>Charity</h6>
    </div>
    <div class="col-1 text-center">
      <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0" style="width: 100px; height: 60px">
        <a href="#">
          <div class="card-img-bg" style="background-image: url('https://images.pexels.com/photos/1118448/pexels-photo-1118448.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
          <span class="mask bg-gradient-secondary opacity-3 hover-opacity-0"></span>
        </a>
      </div>
      <h6>Travel</h6>
    </div>
    <div class="col-1 text-center">
      <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0" style="width: 100px; height: 60px">
        <a href="#">
          <div class="card-img-bg" style="background-image: url('https://images.pexels.com/photos/1263986/pexels-photo-1263986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
          <span class="mask bg-gradient-secondary opacity-3 hover-opacity-0"></span>
        </a>
      </div>
      <h6>Self-help</h6>
    </div>
    <div class="col-1 text-center">
      <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0" style="width: 100px; height: 60px">
        <a href="#">
          <div class="card-img-bg" style="background-image: url('https://images.pexels.com/photos/1670732/pexels-photo-1670732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
          <span class="mask bg-gradient-secondary opacity-3 hover-opacity-0"></span>
        </a>
      </div>
      <h6>Experiences</h6>
    </div>
    <div class="col-1 text-center">
      <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0" style="width: 100px; height: 60px">
        <a href="#">
          <div class="card-img-bg" style="background-image: url('https://images.pexels.com/photos/442576/pexels-photo-442576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
          <span class="mask bg-gradient-secondary opacity-3 hover-opacity-0"></span>
        </a>
      </div>
      <h6>Gaming</h6>
    </div>
    <div class="col-1 text-center">
      <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0" style="width: 100px; height: 60px">
        <a href="#">
          <div class="card-img-bg" style="background-image: url('https://images.pexels.com/photos/1564506/pexels-photo-1564506.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
          <span class="mask bg-gradient-secondary opacity-3 hover-opacity-0"></span>
        </a>
      </div>
      <h6>WTF</h6>
    </div>
  </div>

  <hr class="divider divider-fade"/>

  <div class="row row-grid mx-auto" style="margin-top: -30px">

    <div class="col-lg-6 order-lg-1 mt-0">
      <% current_user.friends_list.each do |friend| %>
      <% end %>
        <table>
          <tbody>
            <% current_user.news.each do |news| %>
            <!-- Si l'évènement est une participation; disclaimer_type peut prendre les valeurs: "participation_created" ou "participation_achieved" -->
            <!-- Il faudra voir comment on gère les participations qui sont "un-achieved", quand la preuve est rejetée -->
            <!-- status prend les valeurs true ou false selon que la notification a été lue -->
            <div style="margin-top: 80px">
              <div class="container ">
                <div class="col-md-12 mx-auto participationCard" id="<%=news.event.class.name%>_<%=news.event.id%>">
                  <% case news.event.class.name %>
                  <% when "Participation" %>
                  <%= render "shared/participation_card", participation: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
                  <% when "Dare" %>
                  <%= render "shared/dare_card", dare: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
                  <% when "UserSendDare" %>
                  <%= render "shared/sent_dare_card", sent_dare: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </tbody>
        </table>
    </div>

    <div class="col-lg-6 order-lg-2 mt-0">
      <% current_user.friends_list.each do |friend| %>
      <% end %>
        <table>
          <tbody>
            <% current_user.news.each do |news| %>
            <!-- Si l'évènement est une participation; disclaimer_type peut prendre les valeurs: "participation_created" ou "participation_achieved" -->
            <!-- Il faudra voir comment on gère les participations qui sont "un-achieved", quand la preuve est rejetée -->
            <!-- status prend les valeurs true ou false selon que la notification a été lue -->
            <div style="margin-top: 80px">
              <div class="container ">
                <div class="col-md-12 mx-auto participationCard" id="<%=news.event.class.name%>_<%=news.event.id%>">
                  <% case news.event.class.name %>
                  <% when "Participation" %>
                  <%= render "shared/participation_card", participation: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
                  <% when "Dare" %>
                  <%= render "shared/dare_card", dare: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
                  <% when "UserSendDare" %>
                  <%= render "shared/sent_dare_card", sent_dare: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </tbody>
        </table>
    </div>

  </div>

</div>

<%= javascript_include_tag "user_cards_scripts" %>