<div class="container">
<%= form_for :dare, url: dares_path(id: current_user.id, show: "users/dares", status: "created"), method:"POST" do |f| %>

  <div class="col-md-9 mx-auto" style="margin-top: 80px">
    <select class="custom-select" name="dare[category_id]">
      <option selected>Select your dare's category</option>
      <%= Category.all.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
    <div class="card" style="margin-top: 80px; margin-bottom: -0.2px;border-width: 3px;border-color: #27ae60">

      <div class="row row-grid" style="margin-top: -1rem">
        <%= link_to user_path(current_user), class:"ml-0" do %>
        <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/1/1552315427-noe-pp.jpg" class="avatar rounded-circle avatar-lg shadow hover-shadow-lg" style="margin-left:-0.5rem;margin-top:-1rem">
        <% end %>
        <%= link_to user_path(current_user), class:"ml-4" do %>
        <p class="badge badge-secondary"><%= current_user.full_name %> - created</p>
        <% end %>
      </div>

      <div class="card-body pt-0">
        <div class="row row-grid" style="margin-left:-0.5rem;">
          <div class="col-sm-2 text-center">
            <p class="card-text">Level <%= current_user.rank %></p>
            <div class="<%= current_user.badge[:animation] %>">
              <h4 style="margin-top: 11px"><%= current_user.badge[:emote] %></h4>
            </div>
          </div>
          <div class="col-sm-8 my-auto text-center">
            <div class="form-group">
              <input type="text" name="dare[title]" class="form-control form-control-flush" placeholder="Your title here...">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-grid mr-auto ml-auto">
      <%= render 'shared/card_elements/tab_btns' %>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row row-grid mx-auto my-auto">
          <div class="col-lg-12">
            <div class="form-group">
              <input type="text" name="dare[description]" class="form-control form-control-flush" placeholder="Your description here...">
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if params[:mode] == "sent" %>
      <select class="custom-select" name="recipient_id">
        <option selected>Select whom you want to challenge</option>
        <%= current_user.friends.each do |friend| %>
          <option value="<%= friend.id %>"><%= friend.full_name %></option>
        <% end %>
      </select>
    <% elsif params[:mode] == "solo" %>
      <input type = "checkbox" name = "participate" value = "yes" /> J'y participe
    <% end %>
    <br/>
    <br/>
    <div style="display: flex; justify-content: flex-end;">
      <%= f.submit "Create my dare", class:"btn btn-success", type:"submit" %>
    </div>
  </div>

<% end %>
</div>