<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dare.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dare.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @dare.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @dare.category %>
</p>

<%= link_to 'Edit', edit_dare_path(@dare) %> |
<%= link_to 'Back', dares_path %>
