<div class="card card-body border-0 hover-shadow-lg text-center" style="height: 300px; display: flex; flex-direction: column; justify-content: space-between">

  <div class="row" style="justify-content: center">

    <h6 class="text-capitalize"><%= user.friends.count %> amis</h6>
    <div class="avatar-group hover-avatar-ungroup mb-3 ml-1">
      <a href="#" class="avatar rounded-circle avatar-sm">
        <img alt="Image placeholder" src="http://sunrift.com/wp-content/uploads/2014/12/Blake-profile-photo-square.jpg" class="">
      </a>
      <a href="#" class="avatar rounded-circle avatar-sm">
        <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/2/1552390314-team-2-800x800.jpg" class="">
      </a>
      <a href="#" class="avatar rounded-circle avatar-sm">
        <img alt="Image placeholder" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9yopke-Q-9C0sIp-LATFTYllAJtple1ZjDuDqRlp6UCAl3RMgHA" class="">
      </a>
      <a href="#" class="avatar rounded-circle avatar-sm">
        <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/12/3/1553121684-plusorange.jpg" class="">
      </a>
    </div>
  </div>

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize"><%= user.followers.count %> followers</h6>
  </div>

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize"><%= user.created_dares.count %> défis créés</h6>
  </div>

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize"><%= user.achieved_participations.count %> défis réussis</h6>
  </div>

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize"><%= user.ongoing_participations.count %> participations en cours</h6>
  </div>

  <div class="row" style="justify-content: center">
    <h6 class="text-capitalize"><%= user.starred_dares.count %> défis favoris</h6>
  </div>

  <div class="row" style="justify-content: center">
    <% if user != current_user %>
      <% if !user.friends.include?(current_user) %>
        <% if !current_user.followers.include?(user) %>
          <% if FriendRequest.find_by(user_asked: user, user_asking: current_user) == nil %>
            <%= link_to friend_requests_path(user: user.id), method: "POST", remote: true do %>
              <button type="button" class="btn btn-soft-primary btn-icon btn-sm">
                <span class="btn-inner--icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span class="btn-inner--text">Ajouter</span>
              </button>
            <% end %>
          <% else %>
            <%= link_to friend_request_path(FriendRequest.find_by(user_asked: user, user_asking: current_user), user: user.id), method: "PATCH", remote: true do %>
              <button type="button" class="btn btn-soft-danger btn-icon btn-sm">
                <span class="btn-inner--icon">
                  <i class="fas fa-user-times"></i>
                </span>
                <span class="btn-inner--text">Annuler</span>
              </button>
            <% end %>
          <% end %>
          <% if !user.followers.include?(current_user) %>
            <%= link_to follows_path(user: user.id), method: "POST", remote: true do %>
              <button type="button" class="btn btn-soft-info btn-icon btn-sm ml-2">
                <span class="btn-inner--icon">
                  <i class="fas fa-user-secret"></i>
                </span>
                <span class="btn-inner--text">Follow</span>
              </button>
            <% end %>
          <% else %>
            <%= link_to follow_path(Follow.find_by(user: user, follower: current_user), user: user.id), method: "DELETE", remote: true do %>
              <button type="button" class="btn btn-soft-danger btn-icon btn-sm ml-2">
                <span class="btn-inner--icon">
                  <i class="fas fa-user-times"></i>
                </span>
                <span class="btn-inner--text">Unfollow</span>
              </button>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to follows_path(user: user.id), method: "POST", remote: true do %>
            <button type="button" class="btn btn-soft-info btn-icon btn-sm ml-2">
              <span class="btn-inner--icon">
                <i class="fas fa-user-secret"></i>
              </span>
              <span class="btn-inner--text">Follow Back</span>
            </button>
          <% end %>
        <% end %>  
      <% else %>
        <%= link_to follow_path(Follow.find_by(user: user, follower: current_user), user: user.id), method: "DELETE", remote: true do %>
          <button type="button" class="btn btn-soft-danger btn-icon btn-sm ml-2">
            <span class="btn-inner--icon">
              <i class="fas fa-user-times"></i>
            </span>
            <span class="btn-inner--text">Supprimer</span>
          </button>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>