<% case status %>
<% when "ongoing" then displayed_participations = user.ongoing_participations %>
<% when "achieved" then displayed_participations = user.achieved_participations %>
<% when "reviewed" then displayed_participations = user.reviewed_participations %>
<% end %>

<% if displayed_participations != nil %>

  <% displayed_participations.reverse.each do |participation| %>
    <div style="margin-top: 50px">
      <div class="container ">
        <div class="col-md-12 mx-auto participationCard">
          <%= render "shared/participation_card", participation: participation, friend: user, occasion: nil, disclaimer: false %>
        </div>
      </div>
    </div> 
  <% end %>

<% else %>
  <% if current_user == user %>
    <% case status %>
    <% when "ongoing" %>
      Aucune participation en cours. Il serait temps de s'y mettre !
    <% when "achieved" %>
      Vous n'avez toujours rien accompli. Il serait temps de s'y mettre !
    <% when "reviewed" %>
      Vous n'avez aucune participation en cours d'examination par la communauté.
    <% end %>
  <% else %>
    <% case status %>
    <% when "ongoing" %>
      <%= user.full_name %> n'a pas encore de défi en cours, mais ça ne saurait tarder !
    <% when "achieved" %>
      <%= user.full_name %> est sur le point d'achieve son premier défi. Repasse d'ici quelques jours.
    <% when "reviewed" %>
      <%= user.full_name %> n'a aucune participation en cours d'examination par la communauté.
    <% end %>
  <% end %>
<% end %>

<%= javascript_include_tag "user_cards_scripts" %>