<% case status %>
<% when "ongoing" then displayed_participations = user.ongoing_participations %>
<% when "achieved" then displayed_participations = user.achieved_participations %>
<% when "reviewed" then displayed_participations = user.reviewed_participations %>
<% end %>

<% if displayed_participations.count > 0 %>

  <% displayed_participations.reverse.each do |participation| %>
    <div style="margin-top: 50px">
      <div class="container ">
        <div class="col-md-12 mx-auto eventCard">
          <%= render "shared/dare_card", event: participation, friend: user, occasion: nil, disclaimer: false %>
        </div>
      </div>
    </div> 
  <% end %>

<% else %>
  <% if current_user == user %>
    <% case status %>
    <% when "ongoing" %>
      <h6>Aucune participation en cours. Il serait temps de s'y mettre...</h6>
    <% when "achieved" %>
      <h6>Vous n'avez toujours rien accompli. Il serait temps de s'y mettre...</h6>
    <% when "reviewed" %>
      <h6>Vous n'avez aucune participation en cours d'examination par la communauté.</h6>
    <% end %>
  <% else %>
    <% case status %>
    <% when "ongoing" %>
      <h6><%= user.full_name %> n'a pas encore de défi en cours, mais ça ne saurait tarder !</h6>
    <% when "achieved" %>
      <h6><%= user.full_name %> est sur le point d'achieve son premier défi. Repasse d'ici quelques jours.</h6>
    <% when "reviewed" %>
      <h6><%= user.full_name %> n'a aucune participation en cours d'examination par la communauté.</h6>
    <% end %>
  <% end %>
<% end %>

<%= javascript_include_tag "cards_scripts" %>