
<div class="card border-0 hover-shadow-lg"  style="height: 300px">

  <%if @user.avatar.attached?%>
    <%= image_tag(@user.avatar, alt: 'avatar', class: "avatar rounded-circle avatar-lg shadow hover-shadow-lg mx-auto", style: "margin-bottom: -10px") %>
  <%else%>
    <%= form_tag user_avatars_path(@user), multipart: true do %>
      <div class="col-md-12 text-center" style="margin-bottom: -50px">
        <div class="image-upload">
          <label for="avatar">
            <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/12/4/1553168518-pngpic.png" class="avatar rounded-circle avatar-lg shadow hover-shadow-lg mx-auto">
          </label>
          <input class="profile_input" id="avatar" name="avatar" type="file" />
        </div>
          <%= submit_tag "Poster une photo", class: "btn btn-sm btn-soft-primary" %>
      </div>
    <% end %>
  <% end %>

  <div class="card-body p-3 pt-0 text-center">
    <h1 class="mb-0 animated zoomIn delay-0s"><%= user.full_name %></h1>
    <span class="d-block text-muted mb-3 animated zoomIn delay-0s"><%= user.badge[:title] %></span>

    <hr class="divider divider-fade" style="margin-top: -10px" />

    <div class="row" style="justify-content: center; margin-top: -20px">
      <h5 class="mb-0" style="margin-right: 10px">Rang <%= user.rank %> | <div class="<%= user.badge[:animation] %>"><%= user.badge[:emote] %></div></h5>
    </div>
    <div class="spinner-border spinner-border-sm text-warning" role="status"></div>
     

    <div class="progress" style="margin-top: 8px; margin-bottom: 5px; height: 18px">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= user.percent_to_next_lvl %>%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"><%= user.percent_to_next_lvl %>% to next Rank</div>
    </div>
  </div>

</div>