<div class="flex-grid">

  <div class="row bg-warning" style="justify-content: center">

    <div class="col-3" style="padding-right: 7px; margin-top: 14px;">
      <%= render 'users/badges' %>
    </div>

    <div class="col-5" style="padding-left: 7px; padding-right: 7px; margin-top: 14px">
      <%= render 'users/profile' %>
    </div>

    <div class="col-3"  style="padding-left: 7px; margin-top: 14px;">
      <%= render 'users/information' %>
    </div>

  </div>

  <div class="main-content">
    <!-- Header (account) -->
    <section class="header-account-page bg-warning d-flex align-items-end" style="height: 10px;" data-offset-top="#header-main">
      <!-- Header container -->
      <div class="container pt-4 pt-lg-0">
        <div class="row">
          <div class=" col-lg-12">
            <!-- Account navigation -->
            <div class="d-flex">
              <a href="account-profile-public.html" class="btn btn-icon btn-group-nav shadow btn-neutral">
                <span class="btn-inner--icon"><i class="fas fa-user-astronaut"></i></span>
                <span class="btn-inner--text d-none d-md-inline-block">Intergalactic Dares</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice">
        <div class="container">
          <div class="row row-grid">
            <div class="col-lg-9 order-lg-2">
              <% if @user == current_user %>
                <div class="card bg-gradient-warning hover-shadow-lg mb-8">
                  <div class="card-body py-3">
                    <div class="row row-grid align-items-center">
                      <div class="col-lg-9">
                        <div class="media align-items-center">
                          <a href="#" class="avatar avatar-lg rounded-circle mr-3">
                            <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/5/1552660871-screenshot-2019-03-15-at-15-40-57.png">
                          </a>
                          <div class="media-body">
                            <h5 class="text-white mb-0"><%= @user.full_name%></h5>
                            <div>
                              <form>
                                <input type="file" name="file-1[]" id="file-1" class="custom-input-file custom-input-file-link" data-multiple-caption="{count} files selected" multiple />
                                <label for="file-1">
                                  <span class="text-white">Stop making up your profile and start challenging your friends !</span>
                                </label>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto flex-fill mt-4 mt-sm-0 text-sm-right d-none d-lg-block">
                        <a href="#" class="btn btn-sm btn-white rounded-pill btn-icon shadow">
                          <span class="btn-inner--icon"><i class="fas fa-fire"></i></span>
                          <span class="btn-inner--text">Go to the Feed</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <div style="margin-top: -50px">
                <% @user.participations.each do |participation| %>
                <div style="margin-top: 50px">
                  <div class="container ">
                    <div class="col-md-12 mx-auto participationCard">
                      <%= render "shared/participation_card", participation: participation, friend: @user, occasion: nil, disclaimer: false %>
                    </div>
                  </div>
                 </div> 
                <% end %>
              </div>
            </div>
            <div class="col-lg-3 order-lg-1">
              <div data-toggle="sticky" data-sticky-offset="30" data-negative-margin=".card-profile-cover">
                <div class="card">
                  <div class="list-group list-group-sm list-group-flush">
                    <a href="account-profile.html" class="list-group-item list-group-item-action d-flex justify-content-between">
                      <div>
                        <i class="fas fa-user-ninja mr-2"></i>
                        <span>Participations</span>
                      </div>
                      <div>
                        <i class="fas fa-angle-right"></i>
                      </div>
                    </a>
                    <a href="account-settings.html" class="list-group-item list-group-item-action d-flex justify-content-between">
                      <div>
                        <i class="fas fa-user-injured mr-2"></i>
                        <span>Dares</span>
                      </div>
                      <div>
                        <i class="fas fa-angle-right"></i>
                      </div>
                    </a>
                    <a href="account-billing.html" class="list-group-item list-group-item-action d-flex justify-content-between">
                      <div>
                        <i class="fas fa-user-friends mr-2"></i>
                        <span>Friends</span>
                      </div>
                      <div>
                        <i class="fas fa-angle-right"></i>
                      </div>
                    </a>
                    <a href="account-notifications.html" class="list-group-item list-group-item-action d-flex justify-content-between">
                      <div>
                        <i class="fas fa-sort-numeric-up mr-2"></i>
                        <span>Account Metrics</span>
                      </div>
                      <div>
                        <i class="fas fa-angle-right"></i>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>