<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<!-- Custom video.js -->
<video id='my-video' class='video-js' controls preload='auto' width='640' height='264' poster='<%= url_for(@video.thumbnail) %>' data-setup='{}'>
  <source src='<%= url_for(@video.clip) %>' type='video/mp4'>
</video>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>