

<div class="card cardBody" style="margin-bottom: -0.2px;border-width: 3px;border-color: #293443">
  
  <div class="row row-grid" style="margin-top: -1rem">
    <%= link_to user_path(friend), class:"ml-0" do %>
      <%if friend.avatar.attached?%>
        <%= image_tag(friend.avatar, alt: 'avatar', :class => "avatar rounded-circle avatar-lg shadow hover-shadow-lg mx-auto") %>
      <%else%>
      <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/12/4/1553168518-pngpic.png" class="avatar rounded-circle avatar-lg shadow hover-shadow-lg" style="margin-left:-0.5rem;margin-top:-1rem">
      <% end %>
    <% end %>
    <% if disclaimer %>
      <%= link_to user_path(friend), class:"ml-4" do %>
        <p class="badge badge-secondary"><%= friend.full_name %> - a créé</p>
      <% end %>
    <% end %>
  </div>

  <div class="card-body pt-0">
    <div class="row row-grid" style="margin-left:-0.5rem;">
      <div class="col-sm-2 text-center">
        <p class="card-text">Level <%= friend.rank %></p>
        <div class="<%= friend.badge[:animation] %>">
          <h4 style="margin-top: 11px"><%= friend.badge[:emote] %></h4>
        </div>
      </div>
      <div class="col-sm-8 my-auto text-center cardTitle">
        <h5 class="card-title" style="text-align: justify; text-justify: inter-word"><%= dare.title %></h5>
      </div>
      <div class="col-sm-2 text-center">
        <div class="starElement_<%=dare.id%>">
          <%= render 'shared/card_elements/star', dare: dare %>
        </div>
        <div class="reactionElement_<%=dare.id%>">
          <%= render 'shared/card_elements/reaction', event_id: dare.id, type: dare.class.name %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-grid mr-auto ml-auto">
  <%= render 'shared/card_elements/tab_btns' %>
</div>

<div class="card collapse cardElementCanBeHidden descriptionElement_<%=dare.id%>">
  <%= render 'shared/card_elements/description', dare: dare %>
</div>

<div class="card collapse cardElementCanBeHidden commentElement_<%=dare.id%>">
  <%= render 'shared/card_elements/comments', commentable_id: dare.id, type: dare.class.name %>
</div>

<div class="card collapse cardElementCanBeHidden ratingElement_<%=dare.id%>">
  <%= render 'shared/card_elements/rating', dare: dare %>
</div>

<% case occasion %>
<% when "participation_achieved", "achievement_rejected" then proof_class = "card" %>
<% else proof_class = "card collapse" %>
<% end %>

<div class="<%= proof_class %> cardElementCanBeHidden proofElement_<%=dare.class.name%>_<%=dare.id%>">
  <%= render 'shared/card_elements/proof', event: dare %>
</div>

