<% dare = participation.dare %>

<div class="card" style="margin-bottom: -0.2px;border-width: 3px;border-color: #293443">

  <div class="row row-grid" style="margin-top: -1rem">
    <%= link_to user_path(friend), class:"ml-0" do %>
      <%if friend.avatar.attached?%>
        <%= image_tag(friend.avatar, alt: 'avatar', :class => "avatar rounded-circle avatar-lg shadow hover-shadow-lg mx-auto") %>
      <%else%>
      <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/12/4/1553168518-pngpic.png" class="avatar rounded-circle avatar-lg shadow hover-shadow-lg" style="margin-left:-0.5rem;margin-top:-1rem">
      <% end %>
    <% end %>    
    <% if disclaimer %>
      <%= link_to user_path(friend), class:"ml-4" do %>
        <% case occasion %>
        <% when "participation_created" %>
          <p class="badge badge-secondary"><%= friend.full_name %> - participe.</p>
        <% when "participation_achieved" %>
          <p class="badge badge-secondary"><%= friend.full_name %> - a réussi.</p>
        <% when "dare_accepted" %>
          <p class="badge badge-secondary"><%= friend.full_name %> - relève le défi.</p>
        <% when "achievement_rejected" %>         
          <p class="badge badge-secondary">La communauté remet en question la réalisation de <%= friend.full_name %> !</p>          
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="card-body pt-0">
    <div class="row row-grid" style="margin-left:-0.5rem;">
      <div class="col-sm-2 text-center">
        <% if disclaimer %>
          <p class="card-text">Level <%= friend.rank %></p>
          <div class="<%= friend.badge[:animation] %>">
          <h4 style="margin-top: 11px"><%= friend.badge[:emote] %></h4>
          </div>
        <% else %>
          <% case participation.is_achieved %>
          <% when false %>
            <p class="badge badge-primary"> En cours </p>
          <% when nil %>
            <p class="badge badge-secondary"> À l'étude </p>
          <% when true %>          
            <p class="badge badge-success"> Réussi </p>          
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-8 my-auto text-center">
        <h5 class="card-title" style="text-align: justify; text-justify: inter-word"><%= dare.title %></h5>
      </div>
      <div class="col-sm-2 text-center">
        <div class="starElement_<%=dare.id%>">
          <%= render 'shared/card_elements/star', dare: dare %>
        </div>
        <div class="reactionElement_<%=participation.id%>">
          <%= render 'shared/card_elements/reaction', event_id: participation.id, type: participation.class.name %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row row-grid mr-auto ml-auto">
  <%= render 'shared/card_elements/tab_btns' %>
</div>

<div class="card collapse descriptionElement_<%=dare.id%>">
  <%= render 'shared/card_elements/description', dare: dare %>
</div>

<div class="card collapse commentElement_<%=participation.id%>">
  <%= render 'shared/card_elements/comments', commentable_id: participation.id, type: participation.class.name %>
</div>

<div class="card collapse ratingElement_<%=dare.id%>">
  <%= render 'shared/card_elements/rating', dare: dare %>
</div>

<% case occasion %>
<% when "participation_achieved", "achievement_rejected" then proof_class = "card" %>
<% else proof_class = "card collapse" %>
<% end %>

<div class="<%= proof_class %> proofElement">
  <%= render 'shared/card_elements/proof', event: participation %>
</div>

