<% dare = sent_dare.dare; sender = sent_dare.sender; recipient = sent_dare.recipient %>

<div class="card" style="margin-bottom: -0.2px;border-width: 3px;border-color: #293443">
  
  <div class="row row-grid" style="margin-top: -1rem">
    <%= link_to user_path(friend), class:"ml-0" do %>
      <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/1/1552315427-noe-pp.jpg" class="avatar rounded-circle avatar-lg shadow hover-shadow-lg" style="margin-left:-0.5rem;margin-top:-1rem">
    <% end %>
    <div class="ml-4">
      <% if friend == sender %>
        <p class="badge badge-secondary"><%= link_to "#{sender.full_name}", user_path(sender) %> défie <%= link_to "#{recipient.full_name}", user_path(recipient) %> </p>
      <% elsif friend == recipient %>
        <p class="badge badge-secondary"><%= link_to "#{recipient.full_name}", user_path(recipient) %> est défié par <%= link_to "#{sender.full_name}", user_path(sender) %> </p>
      <% end %>
    </div>
  </div>

  <div class="card-body pt-0">
    <div class="row row-grid" style="margin-left:-0.5rem;">
      <div class="col-sm-2 text-center">
        <% if disclaimer %>
          <p class="card-text">Level <%= friend.rank %></p>
          <div class="<%= friend.badge[:animation] %>">
            <h4 style="margin-top: 11px"><%= friend.badge[:emote] %></h4>
          </div>
        <% else %>
        <% end %>
      </div>
      <div class="col-sm-8 my-auto text-center">
        <h5 class="card-title" style="text-align: justify; text-justify: inter-word"><%= dare.title %></h5>
      </div>
      <div class="col-sm-2 text-center">
        <div class="starElement_<%=dare.id%>">
          <%= render 'shared/card_elements/star', dare: dare %>
        </div>
        <div class="reactionElement_<%=sent_dare.id%>">
          <%= render 'shared/card_elements/reaction', event_id: sent_dare.id, type: sent_dare.class.name %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-grid mr-auto ml-auto">
  <%= render 'shared/card_elements/tab_btns' %>
</div>
<div class="card collapse">
  <%= render 'shared/card_elements/description', dare: dare %>
</div>
<div class="card collapse commentElement_<%=sent_dare.id%>">
  <%= render 'shared/card_elements/comments', commentable_id: sent_dare.id, type: sent_dare.class.name %>
</div>
<div class="card collapse">
  <%= render 'shared/card_elements/rating', dare: dare %>
</div>

<% case occasion %>
<% when "participation_achieved", "achievement_rejected" then proof_class = "card" %>
<% else proof_class = "card collapse" %>
<% end %>

<div class="<%= proof_class %>">
  <%= render 'shared/card_elements/proof', event: dare %>
</div>

