<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div container>
      <div>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/solo/cardsoloclosed' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/solo/cardsoloclosedstared' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/solo/cardsoloclosedupvoted' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/solo/cardsolobuttons' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/solo/cardsolodescription' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/solo/cardsolocomments' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/solo/cardsolorating' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/solo/cardsoloratingdone' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/solo/cardsoloproof' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/group/cardgroupclosed' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/group/cardgroupbuttons' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/group/cardgroupdescription' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/group/cardgroupcomments' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/group/cardgrouprating' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/group/cardgroupproof' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/group/cardgroupratingdone' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/challenge/cardchallengeclosed' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/challenge/cardchallengebuttons' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/challenge/cardchallengedescription' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/challenge/cardchallengecomments' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/challenge/cardchallengerating' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/challenge/cardchallengeratingdone' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements_full/challenge/cardchallengeproof' %>
      </div>
    </div>
  </body>
</html>