<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div container>
      <div>
        <br><br><br><br><br><br><br>
        <%= render 'shared/cardsoloclosed' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/cardsolobuttons' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/cardsolodescription' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/cardsolocomments' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/cardsolorating' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/cardsoloratingdone' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/cardsoloproof' %>
      </div>
    </div>
  </body>
</html>