<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div container>
      <div>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/solo/cardsoloclosed' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/solo/cardsolobuttons' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/solo/cardsolodescription' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/solo/cardsolocomments' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/solo/cardsolorating' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/solo/cardsoloratingdone' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/solo/cardsoloproof' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/group/cardgroupclosed' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/group/cardgroupbuttons' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/group/cardgroupdescription' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/group/cardgroupcomments' %>
        <br><br><br><br><br><br><br>
        <%= render 'shared/card_elements/group/cardgrouprating' %>
      </div>
    </div>
  </body>
</html>