<% case occasion %>
<% when "all" then displayed_news = current_user.news %>
<% when "all_unrated" %>
  <% displayed_news = []; current_user.news.each {|news| if news.is_unrated then displayed_news << news end }%>
<% else displayed_news = current_user.news.where(occasion: occasion) %>
<% end %>

<table>
  <tbody>
    <% displayed_news.reverse.each do |news| %>
    <!-- Si l'évènement est une participation; disclaimer_type peut prendre les valeurs: "participation_created" ou "participation_achieved" -->
    <!-- Il faudra voir comment on gère les participations qui sont "un-achieved", quand la preuve est rejetée -->
    <!-- status prend les valeurs true ou false selon que la notification a été lue -->
      <div style="margin-top: 80px">
        <div class="container">
          <div class="col-md-12 mx-auto eventCard" id="<%=news.event.class.name%>_<%=news.event.id%>">
            <% case news.event.class.name %>
            <% when "Participation" %>
            <%= render "shared/participation_card", participation: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
            <% when "Dare" %>
            <%= render "shared/dare_card", dare: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
            <% when "UserSendDare" %>
            <%= render "shared/sent_dare_card", sent_dare: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<% if displayed_news.count == 0 %>
<div class="container">
  <div class="card bg-gradient-danger hover-shadow-lg mb-8 mt-5">
    <div class="card-body py-3">
      <div class="row row-grid align-items-center">
        <div class="col-lg-9">
          <div class="media align-items-center">
            <a href="#" class="avatar avatar-md rounded-circle mr-3">
              <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/7/1552821633-logohuzza.jpg">
            </a>
            <div class="media-body">
              <h5 class="text-white mb-0">No content related to this category yet!</h5>
              <div>
                <span class="text-white">Make new friends and add / follow them to enjoy the all platform.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto flex-fill mt-4 mt-sm-0 text-sm-right d-none d-lg-block">
          <%= link_to dares_path, class:"btn btn-sm btn-white rounded-pill btn-icon shadow" do %>
          <span class="btn-inner--icon"><i class="fas fa-fire"></i></span>
          <span class="btn-inner--text">Explore new horizons</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= javascript_include_tag "user_cards_scripts" %>