<div class="main-content">
    <!-- Header (v9) -->
    <section class="slice slice-xl bg-gradient-success" style="padding-bottom: 150px; margin-top: -200px">
      <!-- SVG background -->
      <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
        <figure class="w-100">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1956 1143 1385 601" class="injected-svg svg-inject">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                  opacity: 0.046;
                }
              </style>
            </defs>
          </svg>
        </figure>
      </div>
      <div class="container py-5 position-relative zindex-100" style="height: 350px"></div>
      <!-- SVG shape -->
      <figure class="shape-container shape-position-bottom" style="height: 432px;">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 1000 300" style="enable-background:new 0 0 1000 300;" xml:space="preserve" class="ie-shape-wave-1">
          <path d="M 0 246.131 C 0 246.131 31.631 250.035 47.487 249.429 C 65.149 248.755 82.784 245.945 99.944 241.732 C 184.214 221.045 222.601 171.885 309.221 166.413 C 369.892 162.581 514.918 201.709 573.164 201.709 C 714.375 201.709 772.023 48.574 910.547 21.276 C 939.811 15.509 1000 24.025 1000 24.025 L 1000 300.559 L -0.002 300.559 L 0 246.131 Z"></path>
        </svg>
      </figure>
    </section>
  </div>

<div class="spinner-grow" role="status">
  <span class="sr-only">Loading...</span>
</div>

<!-- Navigation Bloc -->

<div class="container">
  <div class="row row-grid">
    <div class="col-lg-3 order-lg-1 mt-3">
      <div data-toggle="sticky" data-sticky-offset="30" data-negative-margin=".card-profile-cover">
        <div class="card">
          <div class="list-group list-group-sm list-group-flush">
            <a href="account-profile.html" class="list-group-item list-group-item-action d-flex justify-content-between">
              <div>
                <i class="fas fa-user-ninja mr-2"></i>
                <span>Participations</span>
              </div>
              <div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
            <a href="account-settings.html" class="list-group-item list-group-item-action d-flex justify-content-between">
              <div>
                <i class="fas fa-user-injured mr-2"></i>
                <span>Dares</span>
              </div>
              <div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
            <a href="account-billing.html" class="list-group-item list-group-item-action d-flex justify-content-between">
              <div>
                <i class="fas fa-user-friends mr-2"></i>
                <span>Friends</span>
              </div>
              <div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
            <a href="account-notifications.html" class="list-group-item list-group-item-action d-flex justify-content-between">
              <div>
                <i class="fas fa-sort-numeric-up mr-2"></i>
                <span>Account Metrics</span>
              </div>
              <div>
                <i class="fas fa-angle-right"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <% current_user.friends_list.each do |friend| %>
    <% end %>

    <div class="col-lg-9 order-lg-2 mt-3">
      <table>
        <tbody>
          <% current_user.news.each do |news| %>
          <!-- Si l'évènement est une participation; disclaimer_type peut prendre les valeurs: "participation_created" ou "participation_achieved" -->
          <!-- Il faudra voir comment on gère les participations qui sont "un-achieved", quand la preuve est rejetée -->
          <!-- status prend les valeurs true ou false selon que la notification a été lue -->
          <div style="margin-top: 80px">
            <div class="container ">
              <div class="col-md-12 mx-auto participationCard" id="<%=news.event.class.name%>_<%=news.event.id%>">
                <% case news.event.class.name %>
                <% when "Participation" %>
                <%= render "shared/participation_card", participation: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
                <% when "Dare" %>
                <%= render "shared/dare_card", dare: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
                <% when "UserSendDare" %>
                <%= render "shared/sent_dare_card", sent_dare: news.event, friend: news.friend, disclaimer: true, occasion: news.occasion, read: news.read %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
