<!-- Navigation Bloc -->
<div>
  <div class="col-10 ml-5">
    <div class="row row-grid">
      <div class="col-lg-3 order-lg-1 mt-0">
        <div data-toggle="sticky" data-sticky-offset="30" data-negative-margin=".card-profile-cover">
          <div class="card" style="margin-top: 50px">
            <div class="list-group list-group-sm list-group-flush">
              <%= link_to news_index_path(occasion: "all"), class:"list-group-item list-group-item-action d-flex justify-content-between", style:"color: #293443", remote: true do %>                
                <div>
                  <i class="fas fa-user-ninja mr-2"></i>
                  <span>All</span>
                </div>
                <div>
                  <i class="fas fa-angle-right"></i>
                </div>
              <% end %>
              <%= link_to news_index_path(occasion: "dare_created"), class:"list-group-item list-group-item-action d-flex justify-content-between", style:"color: #293443", remote: true do %>                
                <div>
                  <i class="fas fa-user-ninja mr-2"></i>
                  <span>Défis créés</span>
                </div>
                <div>
                  <i class="fas fa-angle-right"></i>
                </div>
              <% end %>
              <%= link_to news_index_path(occasion: "participation_created"), class:"list-group-item list-group-item-action d-flex justify-content-between", style:"color: #293443", remote: true do %>                
                <div>
                  <i class="fas fa-user-ninja mr-2"></i>
                  <span>Participations à un défi</span>
                </div>
                <div>
                  <i class="fas fa-angle-right"></i>
                </div>
              <% end %>
              <%= link_to news_index_path(occasion: "dare_sent"), class:"list-group-item list-group-item-action d-flex justify-content-between", style:"color: #293443", remote: true do %>                
                <div>
                  <i class="fas fa-user-ninja mr-2"></i>
                  <span>Défis lancés</span>
                </div>
                <div>
                  <i class="fas fa-angle-right"></i>
                </div>
              <% end %>
              <%= link_to news_index_path(occasion: "dare_received"), class:"list-group-item list-group-item-action d-flex justify-content-between", style:"color: #293443", remote: true do %>                
                <div>
                  <i class="fas fa-user-ninja mr-2"></i>
                  <span>Défis reçus</span>
                </div>
                <div>
                  <i class="fas fa-angle-right"></i>
                </div>
              <% end %>
              <%= link_to news_index_path(occasion: "participation_achieved"), class:"list-group-item list-group-item-action d-flex justify-content-between", style:"color: #293443", remote: true do %>                
                <div>
                  <i class="fas fa-user-ninja mr-2"></i>
                  <span>Preuve submitted</span>
                </div>
                <div>
                  <i class="fas fa-angle-right"></i>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9 order-lg-2 mt-3" id="feedIndex">
        <%= render 'news/news', occasion: "all" %>
      </div>
      
    </div>
  </div>
</div>
