<% random_id = rand(100000) %>

<div class="card-body">
  <div class="row row-grid mx-auto my-auto">
    <div class="col-lg-12">
      <p class="card-text" style="text-align: justify; text-justify: inter-word"><%= dare.description %></p>
    </div>
  </div>
  <br>
  <div class="text-center" style="margin-top: 5px">
    <div class="row" style="display: grid; grid-template-columns: 1fr 1fr;">
      <div style="text-align: left; padding-left: 24px;">
        <span class="badge badge-dot">
          <i class="bg-danger"></i><%= dare.participants.count %> participants
        </span>
        <span class="badge badge-dot">
          <i class="bg-success"></i>dont <%= dare.achievers.count %> achievers
        </span>
        <span class="badge badge-dot">
          <i class="bg-primary"></i> Défi imaginé et créé par <%= link_to "#{dare.creator.full_name}", user_path(dare.creator) %>
        </span>
      </div>
      <div style="text-align: right; padding-right: 24px;">
        <% participation = Participation.find_by(dare: dare, user: current_user) %>
        <% if participation == nil %>
        <%= link_to participations_path(dare: dare), method: "POST", remote: true do %>
        <button type="button" class="btn btn-sm btn-soft-success">
          Le réaliser
        </button>
        <% end %>
        <% elsif !participation.is_achieved %>
        <%= link_to user_path(current_user, participation: Participation.find_by(dare: dare, user: current_user)) do %>
        <button type="button" class="btn btn-sm btn-soft-primary">
          En cours
        </button>        
        <% end %>
        <% elsif participation.is_achieved %>
        <%= link_to user_path(current_user, participation: Participation.find_by(dare: dare, user: current_user)) do %>
        <button type="button" class="btn btn-sm btn-soft-success">
          Déjà réalisé
        </button>        
        <% end %>
        <% end %>
        <button class="btn btn-sm btn-soft-warning" data-toggle="modal" data-target="#modalChallengeFriend_<%= dare.id %>_<%= random_id %>">
          Défier un ami
        </button>            
      </div>
    </div>
  </div>

<!-- Customizer modal -->
  <div class="modal fade" id="modalChallengeFriend_<%= dare.id %>_<%= random_id %>" aria-labelledby="modalChallengeFriend" tabindex="-1" role="dialog" aria-hidden="true">
    <%= render "shared/modal_challenge_friend", dare: dare %>
  </div>

</div>
