<% case event.class.name %>
<% when "Participation" then list = [event] %>
<% when "Dare" then list = event.participations %>
<% end %>

<div class="card-body">
  <div class="row row-grid mx-auto my-auto">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-6">
          <% list.reverse.each_with_index do |event, i| %>
            <% if current_user == event.user && event.is_achieved == nil %>
            Réalisation à l'étude depuis <%= time_ago_in_words(event.updated_at) %>; <%= event.contestations.count %> personnes ont contesté votre réalisation.
            <% end %>
            <% if i > 0 %> <div class="divider"></div> <% end %>

            <!-- DISPLAY IMAGES PROOF -->
            <%if event.pictures.attached?%>
              <h3>Les trophées en images postés par <%= event.user.full_name %></h3>
              <% event.pictures.each do |picture| %> postée il y a <%= time_ago_in_words(picture.created_at) %>
                <%= image_tag picture, class: 'img-fluid rounded' %>
              <% end %>

            <% end %>
            <!-- DISPLAY VIDEOS PROOF -->
            <%if event.videos.attached?%>
              <h3>Les trophées en vidéos postés par <%= event.user.full_name %></h3>
              <% event.videos.each do |video| %>

                <!-- Custom video.js -->
                <video id='my-video' class='video-js' controls preload='auto' width='640' height='264' data-setup='{}'>
                  <source src='<%= url_for(video) %>' type='video/mp4'>
                </video>
                postée <%= time_ago_in_words(video.created_at) %>

              <% end %>
            <% end %>

            <% if current_user == event.user && event.is_achieved == false %>
              <!-- Bouton pour upload sa preuve (attacher la photo) -->
              <h3>Ajouter une preuve image</h3>

              <!-- ADD FORM -->
              <%= form_tag participation_pictures_path(event), multipart: true do %>
                <%= file_field_tag :pictures %>
                <%= submit_tag "mettre à jour" %>
              <% end %>

              <h3>Ajouter une preuve vidéo</h3>
              <%= form_tag participation_videos_path(event), multipart: true do %>
                <%= file_field_tag :clip %>
                <%= hidden_field_tag :participation_id %>
                <%= submit_tag "mettre à jour" %>
              <% end %>

              <%= link_to "Confirmer la réalisation", participation_path(event), method: "PATCH", class: "btn btn-sm btn-soft-primary", remote: true %>
              Attention, vous ne pourrez plus poster de photos ou vidéos supplémentaires en attendant que la communauté juge votre réalisation.

            <% elsif current_user != event.user && event.is_achieved == nil %>

              <% if Contestation.find_by(user: current_user, participation: event) == nil %>
                <%= link_to contestations_path(id: event), method: "POST", remote: true do %>
                  <!-- Bouton pour contester la validité des preuves -->
                  ICONE DANGER  Contester ces preuves de réalisation
                <% end %>
              <% else %>
                Déjà contesté
              <% end %>

            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    'use strict';

    var video = videojs('my-video');
    video.socialShare({
        facebook: { // optional, includes a Facebook share button (See the [Facebook documentation](https://developers.facebook.com/docs/sharing/reference/share-dialog) for more information)
            shareUrl: '', // optional, defaults to window.location.href
            shareImage: '', // optional, defaults to the Facebook-scraped image
            shareText: '',  // optional
            app_id: '', // optional, facebook app_id to use (if not specified, the plugin will try to
                        // use an existing FB Javascript object, or it will try to scrape the app_id from the
                        // <meta property="fb:app_id"> element in the document
        },
        twitter: { // optional, includes a Twitter share button (See the [Twitter documentation](https://dev.twitter.com/web/tweet-button/web-intent) for more information)
            handle: '', // optional, appends `via @handle` to the end of the tweet
            shareUrl: '', // optional, defaults to window.location.href
            shareText: ''
        },
        embed: { // optional, includes an embed code button
            embedMarkup: 'YOURMARKUPHERE' // required
        }
    });
</script>
