<% if current_user == event.user && event.is_achieved == nil %>
  <div style="margin-bottom: 20px">
  Preuve à l'étude depuis <%= time_ago_in_words(event.updated_at) %> : <b><%= event.contestations.count %> personnes </b> ont contesté cette réalisation.
  </div>
<% end %>

<!-- DISPLAY IMAGES PROOF -->
<%if event.pictures.attached?%>
  <% event.pictures.each do |picture| %> 
      <div class="mt-3">
        <%= image_tag picture, class: 'img-fluid rounded', style: 'width: 450px' %>
      </div>
      <div class="mt-2">
        posté il y a <%= time_ago_in_words(picture.created_at) %>
      </div>
  <% end %>
<% end %>

<!-- DISPLAY VIDEOS PROOF -->
<%if event.videos.attached?%>
  <% event.videos.each do |video| %>
    <!-- Custom video.js -->
    <video id='my-video' class='video-js' controls preload='auto' width='640' height='264' data-setup='{}'>
      <source src='<%= url_for(video) %>' type='video/mp4'>
    </video>
    posté il y a <%= time_ago_in_words(video.created_at) %>
  <% end %>
<% end %>

<% if current_user == event.user && event.is_achieved == false %>
  <!-- Bouton pour upload sa preuve (attacher la photo) -->
  <div class="row row-grid">
    <div class="col-lg-6 order-lg-1 mt-0 text-center">
      <!-- Add picture proof -->
      <h2>📸</h2>
      <%= form_tag participation_pictures_path(event), multipart: true do %>
        <span class="btn btn-sm btn-soft-warning btn-file-up">
          Choisir
          <%= file_field_tag :pictures %>
        </span>
        <%= submit_tag "Upload", class: "btn btn-soft-dark btn-sm" %>
      <% end %>
    </div>
    <div class="col-lg-6 order-lg-2 mt-0 text-center">
      <!-- Add video proof -->
      <h2>📹</h2>
      <%= form_tag participation_videos_path(event), multipart: true do %>
        <span class="btn btn-sm btn-soft-warning btn-file-up">
          Choisir
          <%= file_field_tag :clip %>
          <%= hidden_field_tag :participation_id %>
        </span>
        <%= submit_tag "Upload", class: "btn btn-soft-dark btn-sm" %>
      <% end %>
    </div>
  </div>

  <% if event.videos.attached? || event.pictures.attached? %>
    <div class="row mt-5">
      <%= link_to "Confirmer la réalisation et poster les preuves", participation_path(event), method: "PATCH", class: "btn btn-sm btn-soft-danger mx-auto", remote: true %>
    </div>
    <div class="row text-center">
      <p class="mt-1 mx-auto">Attention, une fois validé, vous ne pourrez plus poster ni photos ni vidéos supplémentaires.</p>
    </div>
  <% end %>

<% elsif current_user != event.user && event.is_achieved == nil %>

  <% if Contestation.find_by(user: current_user, participation: event) == nil %>
    <%= link_to contestations_path(id: event), method: "POST", remote: true do %>
      <!-- Bouton pour contester la validité des preuves -->
      <button type="button" class="btn btn-soft-danger btn-sm mt-1">Contester la preuve</button>
    <% end %>
  <% else %>
    <div class="row">
        <h6 class="mt-2 mx-auto">Preuve déja contestée.</h6>
    </div>
  <% end %>

<% end %>

<div id="proofConfirmBtn_<%= event.id %>"></div>