<div class="card-body">
  <% if DifficultyRating.find_by(user: current_user, dare: dare) == nil %>
    <div class="row row-grid mx-auto my-auto">
      <div class="col-lg-12">
        <div class="row" style="display: grid; grid-template-columns: 1fr 1fr;">
          <div>0</div>
          <div style="text-align: right">100</div>
        </div>
        <div class="row" style="display: grid; grid-template-columns: 1fr;">
          <div style="text-align: right">
            <%= form_with url: difficulty_ratings_path(dare_id: dare.id) do |f| %>
              <input type="range" class="custom-range" min="0" max="100" step="1" name="rating" id="customRange3">
              <%= f.submit "Noter le défi", class:"btn btn-sm btn-soft-success", type:"submit" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div>
      Difficulté moyenne évaluée par la communauté.
    </div>
    <div class="progress-wrapper">
      <span class="progress-tooltip" style="left: <%= dare.difficulty %>%"><%= dare.difficulty %></span>
      <div class="progress" style="height: 10px;">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= dare.difficulty %>%"></div>
      </div>
    </div>
  <% end %>
</div>
