<nav class="navbar navbar-horizontal navbar-expand-lg navbar-sticky navbar-dark bg-dark sticky mt-0"  style="height: 50px; background-color: #293443">
    <div class="container">
        <%= link_to news_index_path, class: 'nav-link' do %>
          <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/14/1/1554142113-huzza-orange.png" width="20%" height="20%" class="img-fluid">
        <% end %>
        <div class="collapse navbar-collapse" id="navbar-secondary">

            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                  <%= link_to '<i class="fas fa-bullhorn"></i>Feed'.html_safe, news_index_path, class: 'nav-link'%>
                </li>
                <li class="nav-item">
                  <%= link_to '<i class="fas fa-globe"></i>Explorer'.html_safe, dares_path, class: 'nav-link'%>
                </li>
                <li class="nav-item">
                  <%= link_to '<i class="fas fa-user-ninja"></i>Profil'.html_safe, user_path(current_user), class: 'nav-link'%>
                </li>
                <li class="nav-item dropdown" id="friendRequests">
                    <% if current_user.received_friend_requests.count == 0 %>
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-plus"></i></a>
                    <% else %>
            <!-- REMPLIR ICI -->
                    <% end %>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-white_dropdown_1" id="showFriendRequests">
                        <%= render "layouts/friend_requests" %>
                    </div>
                </li>
                <li class="nav-item dropdown" id="receivedDares">
                    <% if current_user.user_received_dares.where(accepted: nil).count == 0 %>
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-satellite-dish"></i></a>
                    <% else %>
            <!-- REMPLIR ICI -->
                    <% end %>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-white_dropdown_1" id="showReceivedDares">
                        <%= render "layouts/received_dares" %>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbar-white_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-angle-down"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-white_dropdown_1">
                        <%= link_to "Editer mon profil", edit_user_registration_path, class: "dropdown-item"%>
                        <div class="dropdown-divider"></div>
                        <%= link_to("Déconnexion", destroy_user_session_path, :method => :delete, class: "dropdown-item")%>
                    </div>
                </li>

                <!-- LINK TO ADMIN DASHBOARD -->
                <% if current_user.is_admin %>
                <li class="nav-item">
                    <%= link_to "ADMIN DASHBOARD", dashboard_admin_index_path, class: 'nav-link danger'%>
                </li>
                <% end %>

            </ul>

        </div>
    </div>
</nav>
