<!DOCTYPE html>
<html>
  <head>
    <title>Huzza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/flash'%>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>
      <%= yield %>
    
    <footer>
    <% if user_signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>
    </footer>
<!---------------------------if user is not connected display: none;-------------------------------->
    <% if !user_signed_in? %>
    <div class="customizer" style="display: none;">
      <a href="#modal-customizer1" class="btn bg-gradient-danger btn-lg btn-icon-only rounded-circle text-white hover-scale-110 shadow-lg mr-3" data-toggle="modal">
        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
      </a>
    </div>

    <% else %>
    
    <div class="customizer">
      <a href="#modal-customizer1" class="btn bg-gradient-danger btn-lg btn-icon-only rounded-circle text-white hover-scale-110 shadow-lg mr-3" data-toggle="modal">
        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
      </a>
    </div>
    <% end %>
<!----------------------------------------------------------->
    <!-- Customizer modal -->
    <div class="modal fade fixed-right" id="modal-customizer1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-vertical" role="document">
        <%= form_with url: new_dare_path, method: :get, local: true, class:"modal-content" do |f| %>
          <div class="modal-body">
            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="left" title="Close Customizer">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center mx-auto mt-4 mb-3" style="width: 80px;">
              <img alt="Image placeholder" src="https://image.noelshack.com/fichiers/2019/11/7/1552821633-logohuzza.jpg" class="rounded-circle avatar-lg shadow mx-auto">
            </div>
            <h5 class="text-center mb-2">Create a new Dare</h5>
            <hr class="mb-4">
            <h6 class="mb-1">Type</h6>
            <p class="small text-muted mb-3">
              Set the type of dare you want to create.
            </p>
            <div class="btn-group-toggle row mx-0 mb-4" data-toggle="buttons">
              <label class="btn btn-sm btn-outline-success active flex-fill mb-2 mr-2">
                <input type="radio" name="mode" value="dark">
                <i class="fas fa-user"></i> Solo
              </label>
            </div>
            <div class="btn-group-toggle row mx-0 mb-4" data-toggle="buttons">
              <button type="button" class="btn btn-sm btn-outline-success flex-fill mb-2 mr-2" disabled><i class="fas fa-user"></i> Group<span class="badge badge-pill badge-soft-warning badge-floating border-">Soon</span></button>
            </div>
            <div class="btn-group-toggle row mx-0 mb-4" data-toggle="buttons">
              <button type="button" class="btn btn-sm btn-outline-success flex-fill mb-2 mr-2" disabled><i class="fas fa-trophy"></i> Challenge<span class="badge badge-pill badge-soft-warning badge-floating border-">Soon</span></button>
            </div>
            <hr class="mb-4">
            <h6 class="mb-1">Type</h6>
            <p class="small text-muted mb-3">
              Do you want to challenge yourself or a friend ?
            </p>
            <div class="btn-group-toggle row mx-0 mb-4" data-toggle="buttons">
              <label class="btn btn-sm btn-outline-success flex-fill mb-2 mr-2">
                <input type="radio" name="mode" value="solo">
                <i class="fas fa-user mr-2"></i>Myself
              </label>
              <label class="btn btn-sm btn-outline-success flex-fill mb-2 mr-2">
                <input type="radio" name="mode" value="sent">
                <i class="fas fa-user mr-2"></i>A friend
              </label>
            </div>
          </div>
            <div class="modal-footer border-0">
              <%= f.submit "Create", type:"submit", class:"btn btn-block btn-success mt-auto" %>
            </div>
          <% end %>
        </form>
      </div>
    </div>

  </body>

</html>