<!DOCTYPE html>
<html>
  <head>
    <title>Huzza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/addon' %>

  </head>

  <body>
    <div id="container">
        <div id="body">
        <% if user_signed_in? && !current_user.is_fake? %>
        <%= render 'layouts/header' %>
        <%= render 'layouts/flash'%>
        <% end %>
        
          <%= yield %>

        </div>
        <% if user_signed_in? && !current_user.is_fake? %>
          <%= render 'layouts/footer' %>
        <% end %>
    </div >

<!---------------------------if user is not connected display: none;-------------------------------->
    <% if current_user.is_fake? %>
    <div class="customizer" style="display: none;">
    <% else %>
    <div class="customizer">
    <% end %>
      <a href="#modal-customizer1" class="btn bg-gradient-danger btn-lg btn-icon-only rounded-circle text-white hover-scale-110 shadow-lg mr-3" data-toggle="modal">
        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
      </a>
    </div>
<!----------------------------------------------------------->
    <!-- Customizer modal -->
    <div class="modal fade fixed-right" id="modal-customizer1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-vertical" role="document">
        <%= render "shared/modal_create_dare" %>
      </div>
    </div>

  </body>

</html>
